In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('reddit_preprocessing.csv')
df.head()

                                       clean_comment  category
0  family mormon never tried explain still stare ...         1
1  buddhism much lot compatible christianity espe...         1
2  seriously say thing first get complex explain ...        -1
3  learned want teach different focus goal not wr...         0
4  benefit may want read living buddha living chr...         1

In [3]:
df.shape

(36793, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36793 entries, 0 to 36792
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  36662 non-null  object
 1   category       36793 non-null  int64
dtypes: int64(1), object(1)
memory usage: 575.0+ KB

In [8]:
df.isnull().sum()

clean_comment    131
category           0
dtype: int64

In [12]:
df[df['clean_comment'].isnull()]

      clean_comment  category
287             NaN         0
821             NaN         0
922             NaN         0
934             NaN         0
1169            NaN         0
...             ...       ...
36358           NaN         0
36563           NaN         0
36599           NaN         0
36731           NaN         0
36780           NaN         0

[131 rows x 2 columns]

In [18]:
df.dropna(inplace=True)
df.isnull().sum()

clean_comment    0
category         0
dtype: int64

In [20]:
df.duplicated().sum()
df[df.duplicated()]

      clean_comment  category
1376            jpg         0
1397           good         1
1430   real bhagoda         1
1561          think         0
2340         cringe         0
...             ...       ...
36751      nice try         1
36768          vote         0
36770         would         0
36776      nice try         1
36791     haha nice         1

[419 rows x 2 columns]

In [23]:
df[(df['clean_comment'].str.strip() == ' ')]

Empty DataFrame
Columns: [clean_comment, category]
Index: []

In [24]:
#converting all data in lower case
df['clean_comment'] = df['clean_comment'].str.lower()
df.head()

                                       clean_comment  category
0  family mormon never tried explain still stare ...         1
1  buddhism much lot compatible christianity espe...         1
2  seriously say thing first get complex explain ...        -1
3  learned want teach different focus goal not wr...         0
4  benefit may want read living buddha living chr...         1

In [25]:
df[df['clean_comment'].apply(lambda x: x.endswith(' ') or x.startswith(' '))]

Empty DataFrame
Columns: [clean_comment, category]
Index: []